Task2/build/cmake_install.cmake
Task2/build/CMakeCache.txt
Task2/build/Makefile
Task2/build/CMakeFiles/cmake.check_cache
Task2/build/CMakeFiles/CMakeDirectoryInformation.cmake
Task2/build/CMakeFiles/CMakeOutput.log
Task2/build/CMakeFiles/CMakeRuleHashes.txt
Task2/build/CMakeFiles/Makefile.cmake
Task2/build/CMakeFiles/Makefile2
Task2/build/CMakeFiles/progress.marks
Task2/build/CMakeFiles/TargetDirectories.txt
Task2/build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
Task2/build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
Task2/build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
Task2/build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
Task2/build/CMakeFiles/3.22.1/CMakeSystem.cmake
Task2/build/CMakeFiles/3.22.1/CompilerIdC/a.out
Task2/build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
Task2/build/CMakeFiles/3.22.1/CompilerIdCXX/a.out
Task2/build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
Task2/build/CMakeFiles/calculator.dir/build.make
Task2/build/CMakeFiles/calculator.dir/cmake_clean.cmake
Task2/build/CMakeFiles/calculator.dir/compiler_depend.make
Task2/build/CMakeFiles/calculator.dir/compiler_depend.ts
Task2/build/CMakeFiles/calculator.dir/depend.make
Task2/build/CMakeFiles/calculator.dir/DependInfo.cmake
Task2/build/CMakeFiles/calculator.dir/flags.make
Task2/build/CMakeFiles/calculator.dir/link.txt
Task2/build/CMakeFiles/calculator.dir/progress.make
Task2/build/calculator
Task2/build/clac.tab.c
Task2/build/clac.tab.h
Task2/build/lex.yy.c
Task2/build/y.tab.c
Task2/build/y.tab.h
Task2/build/CMakeFiles/calculator.dir/clac.tab.c.o
Task2/build/CMakeFiles/calculator.dir/clac.tab.c.o.d
Task2/build/CMakeFiles/calculator.dir/compiler_depend.internal
Task2/build/CMakeFiles/calculator.dir/lex.yy.c.o
Task2/build/CMakeFiles/calculator.dir/lex.yy.c.o.d
Task2/build/CMakeFiles/calculator.dir/y.tab.c.o
Task2/build/CMakeFiles/calculator.dir/y.tab.c.o.d
